target/
node_modules/
*.log

.appimage-tools/
AppDir/
instances.json
accounts.json
settings.json
*.db
.DS_Store

kollegen-mod/build/
kollegen-mod/.gradle/
kollegen-mod/.idea/

minisign.key

Kollegenserver
Kollegenserver.pub

server/data/

Inspiration/

kollegen-mod/src/main/resources/dev/kollegen/client/vulkanmod.bin
Das/

kollegen-mod/src/main/resources/dev/
